@use '../../Style/Partials/Global.scss' as *;
@use '../../Style/Partials/Mixin.scss' as *;
@use '../../Style/Partials/Typography.scss' as *;
@use '../../Style/Partials/Variables.scss' as *;

.event {
 width: 400px;
  
&__picture {
  height: 180px;
  margin-top: 20px;
  width: 200px;
  border-radius: 4px;
  padding-left: $mobile-spacing;
}

&__description {
  color: rgb(199, 86, 26);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 15px;
  padding: $mobile-spacing;


}

&__button {
  @include attendButton;

};
&__element {
  color: black;
  font-weight: 100px;
}

&__elementD {
  color: black;
  @include tablet {
    display: flex;
  flex-wrap: wrap;
  }
  
}

&__elementZ {
  color: blue;
  text-decoration: underline;
  padding-right: 20px;
}


}

