@use '../../Style/Partials/Global.scss' as *;
@use '../../Style/Partials/Mixin.scss' as *;
@use '../../Style/Partials/Typography.scss' as *;
@use '../../Style/Partials/Variables.scss' as *;

.heading {
  display: flex;
  justify-content: center;
  @include heading;
  &__divisor-parent {
    display: flex;
    justify-content: center;
  }
  &__divisor {
    height: 0.5px;
    width: 90%;
    @include tablet {
      border-top: 1px solid orange;
      opacity: 60%;
    }
  }
}
.create {
  
  padding: $mobile-spacing;
  background-color: $page-color;
  @include desktop {
    display: flex;
    justify-content: center;
  }


  &__event-inputs {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include label;
  }

  &__event {
    @include input;
  }

  &__date {
    @include inputDate;
  }

  &__description {
    @include textarea;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__publish-event {
    @include publishButton;
  }

  &__cancel-button {
    @include cancelButton;
  }
}
