@use './Mixin.scss' as *;
@use './Variables' as *;
@use './Typography' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: Black;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'avenir';
}

