@use './Mixin.scss' as *;
@use './Variables' as *;
@use './Typography' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  color: Black;
  width: 100%;
  font-size: 70%;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}
