@use './variables' as *;
@use './variables' as *;
@use './typography' as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// typography


@mixin typo-button-header {
  font-size: $m-labels;
  font-family: "Titillium";
  font-weight: 600;
  line-height: 2rem;
  color: red;
  align-items: center;
}



//flexbox
@mixin flex-directory {
  display: flex;
  justify-content: center;
  text-align: center;
}