@use './variables' as *;
@use './variables' as *;
@use './typography' as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// typography


@mixin typo-button-header {
  font-size: $m-labels;
  font-family: "Titillium";
  font-weight: 600;
  line-height: 2rem;
  color: red;
  align-items: center;
}

@mixin typo-table-input {
  font-size: $m-labels;
  font-family: "Titillium";
  font-weight: 600;
  line-height: 2rem;
}

@mixin cta-input {
  background: white;
  border: 0.1rem solid $border-color;
  box-sizing: border-box;
  border-radius: 2rem;
}

@mixin typo-body-medium {
  font-size: $m-labels;
  font-family: "Titillium";
  font-weight: 400;
  line-height: 2rem;
  color: $global-color;
}

@mixin typo-footer {
  font-size: $m-table-header;
  font-family: "Titillium";
  font-weight: 400;
  line-height: 1.6rem;
  text-align: center;
}

@mixin cta-main {
  align-items: center;
  padding: 0.8rem 8.4rem;
  background: $inter-color;
  border-radius: 2rem;
  color: #fff;
  font-family: "Titillium";
}

//flexbox
@mixin flex-directory {
  display: flex;
  justify-content: center;
  text-align: center;
}
//input 
@mixin input {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
  border: 2px solid rgb(255, 89, 0);
  &:hover {
    background-color: rgb(237, 163, 84);
  }
  &::placeholder {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@mixin inputDate {
  height: 40px;
  border: 2px solid rgb(255, 89, 0);
  border-radius: 10px;
  margin-bottom: 20px;
  color: gray;
  &:hover {
    background-color: rgb(237, 163, 84);
    border-radius: 10px;
  }
  
}

//label
@mixin label {
  color: $tribe-color;
  font-size: 16px;
  margin-bottom: 10px;
}

//textarea
@mixin textarea {
  border-radius: 10px;
  padding: 30px;
  border: 2px solid rgb(255, 89, 0);
}

//publishButtons 
@mixin publishButton {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  border: 1px dotted orange;
  cursor: pointer;
  &:hover {
    background-color: rgb(213, 115, 11);
  }
}

//cancelButton 
@mixin cancelButton {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  margin-left: 20px;
  cursor: pointer;
  border: 1px dotted orange;
}

//smaller button for attend to events
@mixin attendButton {
  color: white;
  height: 25px;
  width: 80px;
  border-radius: 8px;
  border: 0;
  background-color: rgb(199, 86, 26);
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(213, 115, 11);
  }
}
