@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
};

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf');
  font-weight: 600;
  font-style: normal;
};

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf');
  font-weight: 900;
  font-style: normal;
};

@font-face {
  font-family: 'Girassol';
  src: url('../../assets/fonts/Girassol-Regular.ttf');
  font-weight: 600;
  font-style: normal;
};

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-Italic-VariableFont_wght.ttf');
  font-weight: 300;
  font-style: normal;
};

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-VariableFont_wght.ttf');
  font-weight: 600;
  font-style: normal;
};

@font-face {
  font-family: 'Bebas';
  src: url('../../assets/fonts/BebasNeue-Regular.ttf');
  font-weight: 600;
  font-style: normal;
};
