@use '../../Style/Partials/Global.scss' as *;
@use '../../Style/Partials/Mixin.scss' as *;
@use '../../Style/Partials/Typography.scss' as *;
@use '../../Style/Partials/Variables.scss' as *;

.primary-button {
  @include cta-main;
  font-size: 1.3rem;
  font-weight: 600;
  height: 3.6rem;
  padding: 0;
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $global-color;
  }

  @include tablet {
    height: 3.8rem;
    max-width: 16.8rem;
    padding: 0 $extra-small;
  }
}
