@use '../../Style/Partials/Global.scss' as *;
@use '../../Style/Partials/Mixin.scss' as *;
@use '../../Style/Partials/Typography.scss' as *;
@use '../../Style/Partials/Variables.scss' as *;

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    display: block;
    position: relative;
    width: 100%;
    :after {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
      
    }
    
  }
  &__inner-form {
    position: relative;
    display: block;
    background-color: white;
    width: 50%;
    height: 200px;
    padding: 30px;
    
    
    
  }
}