@use '../../Style/Partials/Global.scss' as *;
@use '../../Style/Partials/Mixin.scss' as *;
@use '../../Style/Partials/Typography.scss' as *;
@use '../../Style/Partials/Variables.scss' as *;

.navBar {
  font-family: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  @include tablet {
    width: 250px;
    height: 90%;
    padding-top: 38.39px;
    border-bottom: none;
    border-right: 2px solid orange;
    justify-content: end;
  }

  &__logo-container1 {
    display: flex;
    height: 70px;
    justify-content: center;
    padding-top: 15.39px;
    @include tablet {
      flex-direction: row;
      padding-top: 0;
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__logo {
    height: 60px;
  }
  &__logo-container2 {
    display: flex;
    justify-content: center;
    padding-top: 10.39px;
    display: none;
    @include tablet {
      display: flex;
      height: 50px;
    }
    @include desktop {
    }
  }

  &__linksAndProfiles {
    display: flex;
    margin: $mobile-spacing;
    justify-content: space-around;

    @include tablet {
      margin: 10px $tablet-spacing 0 10px;
      align-items: flex-start;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
    }

    @include desktop {
      margin: 0 90px 0 0;
      align-items: center;
      justify-content: center;
    }
  }

  &__profile {
    height: 40px;
    border-radius: 50%;
    @include tablet {
      margin: 40px 0 0 20px;
    }
    @include desktop {
      margin: 40px 0 0 0px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Avenir";
    :hover {
      background-color: $hoverButton-color;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }

  &__link {
    width: 124px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-family: 'Avenir';
    @include typo-button-header;
    color: $tribe-color;
    @include tablet {
      height: 38px;
      line-height: 34px;
      width: 200px;
      justify-content: flex-start;
      margin-left: 20px;
    }
    @include desktop {
      margin-left: 128px;
      width: 180px;
    }
  }

  link:active {
    background-color: $global-color;
  }
}
